body {
    background-color: #f9f9f9;
}

#link {
    border: none;
    border-radius: 25px;
    max-width: 500px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#link a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    padding: 0 10px;
}

#link a:hover {
    color:#45a049;
}




#presentation {
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 130px auto;
    max-width: 800px;
    padding: 10px;
}

#presentation h2{
    text-align:  left;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: -5px;
    color: #4a47a3;
}

#presentation p{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}